mat-dialog-content {
    overflow-x: hidden;
    // max-height: 600px;
}

.btn-close {
    right: -10px;
    top: -10px;
}


:host ::ng-deep {
    .ck-editor__editable_inline {
        height: 40vh !important;
        overflow-y: auto;
    }
}