<section class="bg-light d-flex">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="position-fixed w-20">
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav mode="side" opened position="end" class="position-fixed w-30 border-0 bg-transparent">
      <app-recommended-shop *ngFor="let shop of recommendedShops | async" [shop]="shop"></app-recommended-shop>
    </mat-sidenav>
    <mat-sidenav-content class="px-3">
      <app-post *ngFor="let post of posts | async" [post]="post"></app-post>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
